@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

p{
    font-size: 1.2rem;
}

a{
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

/*  */

#my_profile{
    width: 60vw;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 1rem;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    font-family: 'inter', sans-serif;
    text-align: center;
    border: 2px solid #FFBB5C;
}

#slack_info{
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1rem;
}
#slack_info > img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: top center;
    border-radius: 8px;
    border: 2px solid #FFBB5C;
}